version: 2.1
orbs:
  node: circleci/node@1.1.6
jobs:
  build-and-test:
    executor:
      name: node/default
      tag: 8.17.0
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: npm install
            - run: npm run test-coverage
            - run: npm run lint
            - store_artifacts:
                path: coverage
workflows:
    build-and-test:
      jobs:
        - build-and-test
